[Unit]
Description=Userspace listener for prompt events
After=snapd.socket
ConditionPathExists=/sys/kernel/security/apparmor/.notify

[Service]
ExecStart=/usr/lib/snapd/snapd-aa-prompt-listener
EnvironmentFile=-/etc/environment
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target
